.Switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.Switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider{
    position: absolute;
    cursor: pointer;
    border-radius: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: gray;
    transition: 0.3s;
}

.Slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background: white;
    transition: 0.2s;
}

.Switch input:checked + .Slider::before{
    transform: translateX(26px);
}
.Switch input:checked + .Slider{
    background: rgb(32, 103, 255);
}