.OrderWrapper{
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 800px;
    width: 95%;
    display: flex;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 10px;
    background: white;
    padding: 10px;
}
.Order{
    width: 100%;
}
.OrderInfos{
    width: 100%;
    border: 1px solid rgb(206, 202, 202);
    padding: 10px;
    border-radius: 10px;
}
.OrderInfo{
    width: 100%;
}
.Buttons{
    margin: 10px;
}
.ModalContentWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
}
.ModalContentWrapper p{
    user-select: none;
}